

<header (selectedFeature)="onSelectFeature($event)"></header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <teams *ngIf="feature === 'teams'"></teams>

      <players *ngIf="feature === 'players'"></players>
    </div>
  </div>
</div>
-----------------------------------------------------------
-----Angular LifeCycle Hooks - Explained with Examples------
------ ngOnChanges-1:40 -ngOnInit- 23:00-ngDoCheck-24:00----
ngAfterContentInit- 4:20------ngAfterContentChecked- 37:50--
ngAfterViewInit-  40:25 -------- ngAfterViewChecked- 42:50--
------------------ngOnDestroy-44:55 -------------------------
------------------------------------------------------------
