

<header (selectedFeature)="onSelectFeature($event)"></header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <teams *ngIf="feature === 'teams'"></teams>

      <players *ngIf="feature === 'players'"></players>
      <br> <br>

      ----appComponent----   ngOnChanges() ----------- <br> <br>

      <button class="btn btn-success" (click)="increment()"> Addition</button> + vs -
      <button class="btn btn-danger" (click)="decrement()"> Substruct </button>
      <child [myNewNumber]="counter" ></child>

    </div>
  </div>
</div>



